.myWorkBlock {
    background-color: #131414;
    min-height: 100vh;
}

.title {
    margin: 100px;
    position: relative;
}

.title::before {
    content:"" ;
    width: 60px;
    height: 1px;
    background: #C49B66;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.title h2 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    color: #EEEEEE;
    line-height: 1.2;
    font-weight: 600;
}

.myWorksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
