@import '../../common/Styles/sass/variables';
@import '../../common/Styles/sass/mixins';
@import './src/common/Components/Button/Button.module';
.work {
  width: 500px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  .image {
    position: relative;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      position: absolute;
      content: '';
      background-color: $bgColor;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.4;
    }
  }

}

.description {
  padding: 45px 15px 15px;

  .title {
    @include text($titleFontFamily, 23px, 700, $titleColor);
  }

  .text {
    @include text($textFontFamily, 15px, 400, $textColor);
    padding: 0 0 30px;
    line-height: 1.6;
    word-spacing: 1px;
  }
}












