.remoteWorksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.remoteWorkBlock {
    background-color: #67ff39;
    height: 200px;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    margin-top: 0px;
}



