@import './src/common/Styles/sass/variables';

.MainBlock {
    height: 100vh;
    background-color: $bgColor;
    .text {
        background-color: $bgColor;
        color: $titleColor;
        font-family: $titleFontFamily;
        .span {
            font-size: 40px;
        }
        .name {
            font-size: 70px;
        }
        .job {
            font-size: 40px;
        }
    }
    .photo {
        width: 300px;
        height: 400px;
        background-color: $bgColor;
    }
}









