@import './src/common/Styles/sass/variables.scss';

.Nav {
    border: 1px solid;
    width: 500px;
    display: flex;
    justify-content: center;
    .text {
        display: inline;
        font-size: 13px;
        font-weight: 600;
        margin: 15px 5px;
        padding: 8px;
        font-family: $textFontFamily;
        color: $titleColor;
    }
}

