@import './src/common/Styles/sass/variables.scss';

.Nav {
    display: flex;
    justify-content: center;
    a {
        display: inline;
        font-weight: 600;
        text-decoration: none;
        color: $titleColor;
        font-family: $textFontFamily;
        font-size: 15px;
        margin: 15px 5px;
        padding: 22px;
    }
    .active {
        color: $primaryColor;
        cursor: pointer;
    }
}

