@import './src/common/Styles/sass/variables.scss';

.Nav {
    border: 1px solid;
    width: 500px;
    display: flex;
    justify-content: center;
    .text {
        display: inline;
        font-weight: 600;
        margin: 15px 5px;
        padding: 22px;
    }
    a {
        text-decoration: none;
        color: $titleColor;
        font-family: $textFontFamily;
        font-size: 15px;
    }
    .active {
        color: $primaryColor;
    }
}

