.color {
    background-color: #ff9e58;
}

.footerBlock {
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #ffd09c;
}

.block {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    background-color: #ff6981;
}